/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.base-slider {
  margin: 10px;
}

.mat-drawer-container {
  position: static !important;
}

.example-container {
  width: 400px;
  height: 100vh;
  overflow-y: auto;
}

.mat-card-setting {
  padding: 20px;
}

.setting-panel-icon {
  height: 40px;
  width: 80px;
  /* margin: 20px; */
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}